<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Project Name</h3>
            <input class="form-control" type="text" placeholder="Project">
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h3>Employee Name</h3>
            <input class="form-control" type="text" placeholder="Emp Name">
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h3>Client Name</h3>
            <input class="form-control" type="text" placeholder="Client Name">
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h3>Project Number</h3>
            <input class="form-control" type="text" placeholder="Project Number">
        </div>
    </div>
</div>