<form class="jumbotron text-center" id="directory-form">
  <div class="employForm">
        <div class="display-4">
            <h1>Employee Directory</h1>   
        </div>
        <br>
           
        <div class="input-group md-3">
          <input type="text" class="form-control" id="name-search" placeholder="Enter Employee Name">
            <div class="input-group-append">
             <div class="submitBtn directorySubmit">
               <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </div>
        </div> 
    </div>
    <br>
    <div class="space"></div>
</form>
