<div class="container form introduction">
  <h1 class="welcome">Welcome to SiteLogic!</h1>
  <h2 class="description">A project management system to streamline workflow for improved operating efficiency.</h2>

  <div class="container content">
    <p>We are dedicated to helping companies meet and achieve their best operational performance by offering a simple set of manangement tools to help tackle any project.</p> 

    <div id="empADD" class="tools">
      <p>
        Keep an accurate count of the number of employees at any given time with our employee adder.
      </p>
    </div>
    
    <div id="task" class="tools">
      <p>
        Break down big projects to simplized task assignments for you and your team and keep track of what's
        being done to better assist with staying on track to meeting deadlines.  
      </p>
    </div>

    <div id="empDirect" class="tools">
      <p>
        Locate any employee company-wide with our built-in directory.
      </p>
    </div>















  </div>
</div>

