<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SiteLogic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" id="employForm">Add Employee<span class="sr-only"></span></a>
      <a class="nav-link" id="projForm">Add Project</a>
      <a class="nav-link" id="calendar">Schedule</a>
      <a class="nav-link" id="directory">Employee Directory</a>
    </div>
  </div>
</nav>

<div class="container">
    <h1>Welcome!</h1>
    <h2>This is SiteLogic.  A project management system to streamline workflow for improved operating efficiency.</h2>
</div>