<div class="jumbotron">
  <div class="container form introduction">
    <h1 class="display-4 text-body text-center">Welcome to SiteLogic!</h1>
    <br> 
    <div class="text-center">
      <label>Improve Efficiency</label>
      <br>
      <label>Streamline Workflow</label>
    </div>
  </div>
</div>
















