
<body>
<div class="container viewer">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="author-container">
					<h1>Authors</h1>
					<table id="task-table" class="table table-striped">
						<thead>
							<tr>
								<th>Task</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Employee Assigned</th>
							</tr>
						</thead>
						
					</table>
					<button id="find-tasks" class="btn btn-primary">Search</button>
				</div>
			</div>
		</div>
</div>
</body>
	