<div class="card">
	<h1 class="display-4 text-center">Tasks</h1>
	  <table id="task-table" class="table table-striped bg-light">

		<thead>
		  <tr>
			<th>Task</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Employee Assigned</th>
		  </tr>
	    </thead>
						
	  </table>
     <div class="text-center">
	<button id="find-tasks" class="btn btn-primary">Search</button>
	<br>
	<br>
  </div>
</div>



	