.form {
    border-style: solid;
    border-color: blue;
}

h3 {
    color:darkblue;
    text-align: center;
}

h1 {
    color:darkblue;
    text-align: center;
    width: 75px;
}

.form-control {
    border-style: outset;
    border-color: black;
}

#directory-form {
    margin-left: 100px;
    margin-top: 100px;
}

.employForm {
    width: 500px;
    height: 300px;
}

.employResults {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 100px;
    margin-left: 800px;
}

.stat {
    margin-left: 10px;
    margin-top: 10px;
}
