#directory-form {
  position: absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, 0);
}

#employee-form {
  position:absolute;
  left: 50%;
 top:20%;
 transform: translate(-50%, 0);
  
}

#project-form {
  position: absolute;
  left: 50%;
 top:20%;
 transform: translate(-50%, 0);
  
}


.container-fluid {
  position: absolute;
}


.employResults {
  position: absolute;

}

.viewer {
  position: absolute;
   left: 50%;
 top:20%;
 transform: translate(-50%, 0);

}


.jumbotron {
 position: absolute;
 left: 50%;
 top:20%;
 transform: translate(-50%, 0);
 background-color: whitesmoke;
}

.navbar {
  background-color: #343a40;
}

.card {
  background-color: whitesmoke;
  left: 0;
  right: 0;
  text-align: center;
}

ul.horiztonal-list li {
  display:inline;
}