body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}


.welcome {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: 'Montserrat';
  font-size: 4em;
  width: auto;
  line-height: .8em;
  padding: .2em;
}

.description {
  position: absolute;
  font-family: 'Montserrat';
  font-size: 4em;
  top: 4em;
  left: 3em;
  padding: .2em;
}

.projForm {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 550px;
}

.employForm {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 300px;
}

.container-fluid {
  position: absolute;
  background-color: white;
}
