#directory-form {
  position: absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, 0);
}

#employee-form {
  position:absolute;
  left: 50%;
 top:20%;
 transform: translate(-50%, 0);
  
}

#project-form {
  position: absolute;
  left: 50%;
 top:20%;
 transform: translate(-50%, 0);
  
}



