#directory-form {
  background-color: white;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
  width: 500px;
  height: 300px;
}

#employee-form {
  background-color: white;
  position: absolute;
  margin-left: 32em;
  margin-top: 4em;
  width: 500px;
  height: fit-content;
}

#project-form {
  position: absolute;
  background-color: white;
  width: 500px;
  height: fit-content;
  border-style: solid;
  border-color:blue;
  margin-left: 32em;
  margin-top: 4em;
}
 
.calendar {
  position: absolute;
  background-color: white;
}

.col-md-6 {
  margin-left: 120px;
}

.container-fluid {
  position: absolute;
  background-color: white;
  border-style: dashed;
  border-color: crimson;
}

.description {
  font-family: 'Montserrat';
  font-size: 4em;
  top: 4em;
  left: 3em;
  padding: .2em;
}

.directorySubmit {
  margin-right: 50px;  
}

.employForm {
  width: 500px;
  height: 300px;
}

.employResults {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 300px;
  margin-top: 100px;
  margin-left: 800px;
}

.form {
  border-style: solid;
  border-color: blue;
}

.form-control {
  border-style: solid;
  border-color: black;
}

.introduction {
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
}

.stat {
  margin-left: 10px;
  margin-top: 10px;
}

.submitBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.welcome {  
  font-family: 'Montserrat';
  font-size: 4em;
  width: auto;
  line-height: .8em;
  padding: .2em;
}

body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}

h1 {
  color:blue;
  text-align: center;
  width: 75px;
}

h2 {
  text-align: center;
}

h3 {
  color: blue;
  font-style: italic;
  padding-top: 10px;
  text-align: center;
}
